{% extends 'base.html' %}
{% load static %}

{% block content %}

        <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Taxa Metabólica Basal
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ dieta.TMB.total}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Taxa Metabólica Basal Alcançada
                            </div>
                            <span id="kcal_alcancado"></span>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-calculator fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">IMC
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ dieta.TMB.imc}}</div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Classificação
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"><span id="dieta_classificacao">{{ dieta.TMB.classificacao}}</span></div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
    <div class="col-sm-7">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Alimentos</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="alimentos" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Quantidade(g)</th>
                        <th>Adicionar</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Nome</th>
                        <th>Quantidade(g)</th>
                        <th>Adicionar</th>

                    </tr>
                    </tfoot>
                    <tbody>

                    {% for alimento in alimentos %}
                        <tr>
                            <td>
                                <a href="{% url 'update_alimento' alimento.id %}">
                                    {{ alimento.nome }}
                                </a>

                            </td>
                            <td>
                                <input class="form-control" type="number" min="1" max="10000" size="5" style="width: 6em;" value="100">
                            </td>
                            <td class="text-center">
                                <input type="checkbox" id="{{ alimento.id }}" name="checkbox1"
                                       onclick="checkAlert({{ alimento.id }},{{ dieta.id }})">

                                {% for alimento_dieta in alimentos_dieta %}
                                    {% if alimento.id == alimento_dieta.id %}
                                        <script>
                                            document.getElementById({{ alimento.id }}).checked = true;
                                        </script>
                                    {% endif %}
                                {% endfor %}

                            </td>

                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
        <div class="col-sm-5">
                <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Alimentos</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="tabela_alimentar" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Quantidade Recomendada(g)</th>
                        <th>Quantidade Selecionada(g)</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Nome</th>
                        <th>Quantidade Recomendada(g)</th>
                        <th>Quantidade Selecionada(g)</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    <tr>
                        <td>
                            Carboidratos
                        </td>
                        <td class="text-center">
                            0
                        </td>
                        <td class="text-center">
                            <span id="tocal_carbo"></span>
                        </td>
                    </tr>


                    </tbody>
                </table>
            </div>
        </div>
                </div>

        </div>

    </div>

    <script>
        function checkAlert(id_alimento, id_dieta) {
            const csrftoken = getCookie('csrftoken');
            if (document.getElementById(id_alimento).checked === true) {
                $.ajax({
                    type: "GET",
                    url: "/dietas/add_alimento_dieta/" + id_alimento + "/" + id_dieta,
                    data: {
                        csrfmiddlewaretoken: csrftoken,
                    },
                    success: function (response) {

                        response = jQuery.parseJSON(response);

                        document.getElementById("kcal_alcancado").innerHTML = response[0].fields.total_energy_kcal

                    }
                });
            } else {
                $.ajax({
                    type: "GET",
                    url: "/dietas/remove_alimento_dieta/" + id_alimento + "/" + id_dieta,
                    data: {
                        csrfmiddlewaretoken: csrftoken,
                    },
                    success: function (response) {
                        response = jQuery.parseJSON(response);

                        document.getElementById("kcal_alcancado").innerHTML = response[0].fields.total_energy_kcal

                        $('#message').html("<h2>Contact Form Submitted!</h2>")
                    }
                });
            }

        }

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>
    <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>

    <script src="{% static "vendor/datatables/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "vendor/datatables/dataTables.bootstrap4.min.js" %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static "js/demo/datatables-demo.js" %}"></script>

    <script>

        $(document).ready(function () {
            $('#alimentos').dataTable({

            });
            $('#tabela_alimentar').dataTable({

            });
        });

    </script>
{% endblock %}

